* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0px;

}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #218838;
    color: #0b4117;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

.success {
    color: green;
    margin-top: 10px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #777;
}

footer a {
    color: #777;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;

}

header {
   width: 100%;
    text-align: center;
    background-color: #0b4117;
    color: white;
    padding: 15px;
    border-radius: 0;
    margin-bottom: 20px;
}

